name: Docker Image CI

# Controls when the action will run. Triggers the workflow on push or pull request
# events but only for the master branch
on:
  push:
  pull_request:
  schedule:
    - cron: '0 0 * * 0-6'
    
env: 
  imagetag: ${{ github.head_ref || github.ref_name || 'dev' }}
  branch: ${{ github.head_ref || github.ref_name || 'dev' }}
  REGISTRY_IMAGE: abcdesktopio/libnss-extrausers-rpm

# A workflow run is made up of one or more jobs that can run sequentially or in parallel
jobs:
  # This workflow contains a single job called "build"
  build:

    runs-on: ubuntu_24.04 

    steps:
          
      - name: Checkout repository
        uses: actions/checkout@v4
        with:
          ref: ${{ github.ref_name }}
           
      - name: Set up QEMU
        uses: docker/setup-qemu-action@v3

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3
 
      - name: Login to DockerHub
        uses: docker/login-action@v3
        with:
          registry: https://ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Build and push Docker image
        id: build
        uses: docker/build-push-action@v6
        with:
          context: .
          push: true
          build-args: |
            BASE_IMAGE=rockylinux
            BASE_RELEASE=9
          file: Dockerfile
          platforms: linux/amd64, linux/arm64
          tags: ghcr.io/${{ env.REGISTRY_IMAGE }}_rockylinux:9



 
